@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
    font-family: 'outfit', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
    font-size: clamp(3rem, 5vw, 4rem);
}

h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    color: #FDD81D;
    font-weight: 800;
    margin : 2rem 0;    
}

h3 {
    font-size: clamp(1rem, 5vw, 1.8rem);
    color: #FDD81D;
    font-weight: 800;
    margin : 1rem 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: clamp(.8rem, 5vw, 1.2rem);
    line-height: 1.3;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: clamp(.8rem, 5vw, 1.2rem);
    line-height: 1.3;
}

.btn {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600 !important;
    padding: .7rem 1.5rem;
    text-align: center;
    text-decoration: none;
}

.btn-primary {
    background-color: #FDD81D;
    color: #000;
    text-decoration: none;
    text-transform: inherit;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.btn-secondary {
    background-color: #FF1F62;
    color: #fff;
    text-decoration: none;
    text-transform: inherit;
    border: 2px solid #fff;

    &:hover {
        background-color: #FDD81D;
        color: #000;
    }
}

.primary-button a {
    background-color: #FDD81D;
    border: none;
    border-radius: 20px;
    color: #000 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600 !important;
    padding: .7rem 1.5rem;
    text-align: center;
    text-decoration: none;


    &:hover {
        background-color: #000;
        color: #fff !important;
    }
}

#wrapper {
    background-color: #FF1F62;
}